body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}
    
h1, header {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

header {
    text-align: center;
    font-size: 35.5px;  
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.message {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
                 Helvetica, Arial, sans-serif;
    line-height: 1.4;
    padding: 11px 17px;       
    border-radius: 18px;      
    margin-bottom: 10px;
    display: inline-block;      
    max-width: 75%;
    position: relative;
}
    
.message::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 0;
}

.left-bubble {
    background-color: #218aff;
    color: white;
    border-bottom-left-radius: 5px; 
    align-self: flex-start;
}

.left-bubble::after {
    left: -8px; 
    border-right-color: #218aff; 
    border-left: 0;
}

.right-bubble {
    background-color: #218aff;
    color: #FFFFFF;
    border-bottom-right-radius: 5px;
    align-self: flex-end;
}
.right-bubble::after {
    right: -8px; 
    border-left-color: #218aff;
    border-right: 0;
}

.animated-element {
  font-size: 35px;
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fade-in linear forwards;
  animation-timeline: view(); 
  animation-range: entry 0% cover 50%; 
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




